{% extends "layout/_base.html" %}
{% set tab = "home" %}
{% include "layout/_navbar.html" %}
{% set jsmodule = "management" %}
{% block content %}
    <div id="warning-misconfigured" class="alert alert-dismissable" style="display: none"></div>

    <div class="col-md-6 pull-left">
        <div class="panel panel-info">
            <div class="panel-heading text-centered">
                <h3 class="panel-title">NavalBot {{ version }}{{ vappend }}</h3>
            </div>
            <div class="panel-body">
                <h4>Loaded modules:</h4>
                <div id="loaded-modules">
                    <ul>
                    {% for mod in modules.values() %}
                        <li>{{ mod.__name__ }} (from {{ mod.__file__ }})</li>
                    {% endfor %}
                    </ul>
                </div>
                <h4>Loaded rules:</h4>
                <div id="loaded-rules">
                    <ul>
                        {% for rule in rules %}
                        <li>{{ rule }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        reload_div();
    </script>
{% endblock %}