{% extends "layout/_base.html" %}
{% set jsmodule = "management" %}

{% block content %}
<!--Main login form.-->
<div class="jumbotron vert-offset-top-3">
    <!-- Hidden div for error messages.-->
    <div id="naval-login-error" class="alert alert-danger text-centered" style="display: none"></div>
    <h2 class="text-centered">Login to NavalBot Management</h2>
    <form id="naval-login" class="form-horizontal" role="form" action="javascript:void(0)">
      <div class="form-group">
        <label class="control-label col-sm-5" for="username">Username:</label>
        <div class="col-sm-3">
          <input name="username" type="text" class="form-control" placeholder="Enter username">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Password:</label>
        <div class="col-sm-3">
          <input name="password" type="password" class="form-control" placeholder="Enter password">
        </div>
      </div>
      <div class="form-group">
        <div class="text-centered">
          <button id="login-button" class="btn btn-default btn-material-green">Submit</button>
        </div>
      </div>
    </form>
</div>
<script>$("#login-button").click(login);</script>
{% endblock %}