<!DOCTYPE html>
<html>
<head>
  <title>NavalBot Management</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material-fullpalette.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/ripples.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

  {% if cssmodule is defined %}
    {% if min is defined and min == True %}
    <link href="{{ url_for('static', filename='css/custom.' + cssmodule + '.min.css') }}" rel="stylesheet">
    {% else %}
    <link href="{{ url_for('static', filename='css/custom.' + cssmodule + '.css') }}" rel="stylesheet">
  {% endif %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  <script src="{{ url_for('static', filename='script/script_base.js') }}"></script>
  {% if jsmodule is defined %}
    {% if min is defined and min == True %}
      <script src="{{ url_for('static', filename='script/script.' + jsmodule + '.min.js') }}"></script>
    {% else %}
      <script src="{{ url_for('static', filename='script/script.' + jsmodule + '.js') }}"></script>
    {% endif %}
  {% endif %}
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/material.min.js"></script>
  <script src="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/ripples.min.js"></script>
  <script>
      $.material.init();
  </script>


  {% block customhead %} {% endblock %}
</head>
<body>
  <div class="wrapper">
    <div class="container">
      {% block navbar %}{% endblock %}
      {% block content %}
        <h1>Oops!</h1>
        <p>Looks like someone forgot to override the <code>content</code> block on this page.</p>
      {% endblock %}
    </div>
  </div>
  <footer class="footer">
    <div class="container text-centered">
      Powered by <a href="//flask.pocoo.org/">Flask.</a> Using <a href="https://fezvrasta.github.io/bootstrap-material-design/">Material Design for Bootstrap.</a><br/>
      <a href="http://gitlab.com/SunDwarf/NavalBot">Visit NavalBot on GitLab.</a>
    </div>
  </footer>

</body>
</html>