{% block navbar %}
    <div class="navbar navbar-material-deep-purple">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="//gitlab.com/SunDwarf/NavalBot">NavalBot</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li {% if tab == 'home' %} class="active" {% endif %}><a href="{{ url_for('management.index') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Modules <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for mod in srv_modules %}
                        <li><a href="{{ url_for(mod[0]) }}">{{ mod[1] }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Rules <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for rule in srv_rules %}
                        <li><a href="{{ url_for(rule[0]) }}">{{ rule[1] }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">User {{ current_user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("management.logout") }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
